#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
// 必要なヘッダーファイルを読み込む
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    // 1. オートマウスレイヤー（AML）のプロセッサを新規作成
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        // J, K, L, - など、クリック時にAMLを解除したくないキーのインデックス
        excluded-positions = <16 17 18 19>;
    };
};

// 2. 正しいリスナー「&pointing_listener」に設定を追加する
&pointing_listener {
    // ※ status や device はベースファイル（右手の.overlay）で
    // 既に設定されているため、ここに書く必要はありません。

    input-processors = 
        // 必須：元から設定されているカーソルの上下左右反転
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        // 追記：ボールを動かしたらレイヤー1へ。400ms後に解除
        <&zip_temp_layer 1 400>;

    // 追記：レイヤー3の時はスクロールとして動作させる設定
    scroller {
        layers = <3>;
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>,
            <&zip_scroll_scaler 1 16>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans     &trans    &trans    &trans         &trans                                    &trans       &trans  &trans     &trans                   &trans                    &trans
&trans  &kp Q      &kp W     &kp E     &kp R          &kp T                                     &kp Y        &kp U   &kp I      &kp O                    &kp P                     &trans
&trans  &kp A      &kp S     &lt 2 D   &lt 1 F        &lt 3 G  &trans           &trans          &kp H        &kp J   &kp K      &kp L                    &mt TILDE MINUS           &trans
&trans  &kp Z      &kp X     &kp C     &kp V          &kp B    &mt LANG1 LANG2  &mt ESC DELETE  &kp N        &kp M   &kp COMMA  &kp DOT                  &kp SLASH                 &trans
&trans  &kp LCTRL  &kp LGUI  &kp LALT  &mt LSHIFT AT  &kp TAB  &kp SPACE        &kp BACKSPACE   &lt 5 ENTER  &trans  &trans     &mt LS(N9) LEFT_BRACKET  &mt LS(N0) RIGHT_BRACKET  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB4  &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans        &trans        &trans        &trans           &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4     &kp N5        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp NUMBER_6  &kp N7        &kp N8        &kp NUMBER_9     &kp NUMBER_0  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_DOT    &kp KP_PLUS   &kp KP_MINUS  &kp KP_ASTERISK  &kp KP_SLASH  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans           &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans   &trans   &trans  &trans        &trans                                   &trans                &trans             &trans          &trans            &trans  &trans
&trans  &kp F1   &kp F2   &kp F3  &kp F4        &kp F5                                   &kp HOME              &kp PG_UP          &kp PAGE_DOWN   &kp END           &trans  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9        &kp F10     &trans      &trans           &kp LEFT              &kp UP_ARROW       &kp DOWN_ARROW  &kp RIGHT         &trans  &trans
&trans  &kp F11  &kp F12  &trans  &out OUT_BLE  &bt BT_NXT  &bt BT_CLR  &kp PRINTSCREEN  &kp LS(SINGLE_QUOTE)  &kp LS(SEMICOLON)  &kp LS(MINUS)   &kp LS(NUMBER_1)  &trans  &trans
&trans  &trans   &trans   &trans  &trans        &trans      &trans      &trans           &trans                &trans             &trans          &trans            &trans  &trans
            >;
        };
    };
};
